    </div>
    
    <footer>
      <nav class="footer-nav navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand hidden-xs navbar-brand active" href="http://getconnect.io">
              <div class="brand-logo-small"></div>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://app.getconnect.io/#/projects">Projects</a></li>
            <li><a href="https://app.getconnect.io/#/settings">Settings</a></li>
            <li><a href="http://docs.getconnect.io/">Docs</a></li>
            <li>
              <a href="https://github.com/getconnect">
                <span class="ion ion-social-github"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/getconnect_io">
                <span class="ion ion-social-twitter"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
    
    <div class="status">
		    <a href="http://status.getconnect.io" target="_blank">
		      <span class="color-dot"></span>
		      <span class="color-description"></span>
		    </a>
		</div>
    
    <script src="https://statuspage-production.s3.amazonaws.com/se-v1.js"></script>
    <script src="scripts/highlight.pack.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/svg-injector.min.js"></script>
    <script src="scripts/docs.min.js"></script>
    <script async src="scripts/analytics.min.js"></script>
  </body>
</html>